* {
  box-sizing: border-box;
}

/* Estilos generales */
.vh100 {
  height: 100vh;
}

.black {
	color: #000;
}

.white {
	color: #fff;
}

.center {
  text-align: center;
}

/* Estilos vista splash */
.bg-splash {
  /* background: linear-gradient(to bottom right, rgb(170, 172, 170) 25%, #19191a); */
  background-color: #000;
}

.style-title {
  font-weight: 900;
  margin-top: 50vh;
}

/* Estilos vista home */
.search {
  display: inline-block;
  clear: both;
  width: 1em;
}

/* .img-style {
  width: 400px;
  height: 400px;
} */

/* .items {
  display: inline-block;
} */

.search-title {
  outline: none;
}

.inner-addon {
  position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .glyphicon {
  left: 0px;
}
.right-addon .glyphicon {
  right: 0px;
}
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}